<div class="flex items-center justify-center p-12">
<div class="mx-auto w-full max-w-[1000px]">
<%= form_with(model: [account, coaching], data: { controller: coaching.new_record? ? "coaching-form" : "" }) do |form|  %>
  <%= render 'shared/error_messages', object: form.object %>

  <%= form.hidden_field :account_id, value: @account.id, data: { coaching_form_target: "currentAccount" } %>

    <div class="mb-6">
    <%= form.label :qa_template_id, class: "mb-3 block text-base font-medium text-[#07074D]" unless coaching.persisted? %>
    <%= form.collection_select :qa_template_id, @account.coaching_templates, :id, :name, {}, { id: "coaching-template-select", data: { coaching_form_target:"templateSelect", action: "change->coaching-form#updateFormFields" } } unless coaching.persisted? %>
  </div>

  <div class="mb-6">
    <%= form.label :coaching_start_date, class:"mb-3 block text-base font-medium text-[#07074D]" %>
    <%= form.date_field :coaching_start_date, class:"w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", disabled: current_user.agent? %>
  </div>

  <div class="mb-6">
    <%= form.label :coaching_end_date, class:"mb-3 block text-base font-medium text-[#07074D]" %>
    <%= form.date_field :coaching_end_date, class:"w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", disabled: current_user.agent? %>
  </div>

  <!--div class="mb-5">
    <%#= form.label :assignee, class:"mb-3 block text-base font-medium text-[#07074D]"  %>
    <%#= form.collection_select :assignee,
                           @account.users.where(role: 'agent'),
                           :name,
                           :name,
                           { prompt: 'Select Assignee' },
                           { class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" } %>
  </div-->

  <div class="mb-6">
    <%= form.label :agent, class:"mb-3 block text-base font-medium text-[#07074D]"  %>
    <%= form.collection_select :user_id,
                           @account.users.where(role: 'agent'),
                           :id,
                           :email,
                           { prompt: 'Select Agent' },
                           { class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", disabled: current_user.agent? } %>

  </div>

  <%= form.fields_for(:note, @note) do |note_form| %>
    <div class="mb-6">
      <%= note_form.label :note %>
      <% if @coaching.persisted? %>
        <% if current_user.agent? %>
          <div class="trix-editor" data-trix-target="content" contenteditable="false">
            <%= @note.content %>
          </div>
        <% else %>
          <%= note_form.rich_text_area :content, data: { coaching_form_target: "noteField" } %>
        <% end %>
      <% else %>
       <%= note_form.rich_text_area :content, value: @note.content, data: { coaching_form_target: "noteField", editing: @coaching.persisted? } %>
      <% end %>
    </div>
  <% end %>

  <% if coaching.persisted? && coaching.user == current_user %>
    <div class="mb-6">
      <label class="flex items-center">
        <%= form.check_box :acknowledgement, unchecked_value: false, checked_value: true,class: "w-4 h-4 text-paleFern border-gray-300 rounded focus:ring-paleFern focus:ring-2" %>
        <span class="ml-2 text-md font-bold text-gray-900">Acknowledgement</span>
        <p class="ml-2 text-sm font-normal text-gray-500">(By ticking the check box, you're acknowledging this coaching log.)</p>
      </label>
    </div>
  <% end %>

  <div>
    <%= form.submit class:"hover:shadow-form rounded-md bg-paleFern hover:bg-graphite py-3 px-8 text-base font-semibold text-white outline-none" %>
  </div>
<% end %>
</div>
</div>

<script>
  var isEditing = <%= @coaching.persisted? ? 'true' : 'false' %>;
</script>
