<%= provide(:title, "Coachings") %>

<div class="flex flex-col items-start justify-between pb-6 space-y-4 lg:items-center lg:space-y-0 lg:flex-row">
  <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
    <li class="leading-normal text-sm">
      <a class="opacity-50 text-slate-700">Pages</a>
    </li>
    <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">Coaching</li>
  </ol>

  <div class="space-y-6 md:space-x-2 md:space-y-0">
    <%= link_to new_account_coaching_url, class:"inline-flex items-center justify-center px-4 py-1 space-x-1 bg-paleFern text-white rounded-md shadow animate-bounce hover:bg-graphite" do %>
      <span>Add new coaching</span>
    <% end if current_user.manager? %>
  </div>
</div>

<%# coaching_groups = Coaching.group(:id, :user_id).group_by(&:user_id) %>
<% coaching_groups_per_user = @account.coachings.joins(:user).pluck(:email).group_by{ |email| email } %>
<%#= pie_chart user_counts = coaching_groups_per_user.transform_values(&:count) %>

<% acknowledgment_labels = { true => 'acknowledge', false => 'not acknowledge' } %>
<% coaching_groups_per_acknowledgement = @account.coachings.group(:id, :acknowledgement).group_by(&:acknowledgement) %>
<%#= pie_chart result = coaching_groups_per_acknowledgement.transform_keys { |key| acknowledgment_labels[key]}.transform_values(&:count) %>

<% commitment_labels = { true => 'commitment', false => 'comments' } %>
<% commitment_per_coachings = @account.coachings.joins(:comments).pluck(:pinned).group_by { |pinned| pinned } %>

<% total_count_per_week = Coaching.joins(:user).pluck(:coaching_start_date).group_by_week { |coaching_start_date| coaching_start_date }.transform_values(&:count) %>

<% total_acknolwedge_per_week = Coaching.joins(:user).where(acknowledgement: true).pluck(:coaching_start_date).group_by_week { |coaching_start_date| coaching_start_date }.transform_values(&:count) %>

<% total_acknowledge = {} %>

<% result_hash = {} %>
<% total_count_per_week.each do |date, value| %>
  <% total_acknowledge[date] = total_acknolwedge_per_week[date] || 0 %>
  <% result_hash[date] = { value: value, total_acknowledge: total_acknowledge[date], current_account_users: 2 }  %>
<% end %>

<%= column_chart result_hash.map { |date, data| [date, data[:value]]}, colors: result_hash.map { |date, data| data[:total_acknowledge] >= data[:current_account_users] ? "#63b598" : "#ce7d78" }, loading: 'Fetching Data....'  %>


<%#= column_chart Coaching.pluck(:coaching_start_date, :acknowledgement, :user_id, :account_id).group_by { |coaching_start_date| coaching_start_date }.transform_values(&:count) %>

<% coaching_data = Coaching.pluck(:coaching_start_date, :acknowledgement, :user_id, :account_id) %>
<% grouped_data = Hash.new { |hash, key| hash[key] = [] } %>
<% coaching_data.each do |coaching| %>
  <% coaching_start_date, acknowledgement, user_id, account_id = coaching %>
  <% week_start_date = coaching_start_date.beginning_of_week.strftime("%m-%d-%Y - Week %U") %>
  <% grouped_data[week_start_date] << { coaching_start_date: coaching_start_date, acknowledgement: acknowledgement, user_id: user_id, account_id: account_id } %>
<% end %>

<% result_hash = {} %>

<% grouped_data.each do |week_start_date, coaching_data| %>
  <% total_acknowledge = coaching_data.count { |data| data[:acknowledgement] == true } %>
  <% total_account_users = coaching_data.map { |data| data[:user_id] }.uniq.count %>
  <% result_hash[week_start_date] = { value: coaching_data.size, total_acknowledge: total_acknowledge, current_account_users: total_account_users } %>

  <p>Coaching Data: <%= coaching_data.count %>
  user: <%= total_account_users %>
  acknowledged: <%= total_acknowledge %>
  </p>
<% end %>

<%#= column_chart result_hash.map { |date, data| [date, data[:value]] }, colors: result_hash.map { |date, data|    data[:value] - data[:total_acknowledge] >= data[:current_account_users] ? "#63b598" : "#ce7d78" }, loading: 'Fetching Data....'  %>

<%= result_hash.map { |date, data| [date, data[:current_account_users] ==  @account.users.agent.count ] }  %>

<%= column_chart result_hash.map { |date, data| [date, data[:value]] }, colors: result_hash.map { |date, data|
  if  data[:value] == data[:current_account_users] && data[:value] - data[:total_acknowledge] >= data[:current_account_users]
    "#ce7d78" # Color when the condition is true
  elsif data[:value] != data[:current_account_users] # migrate new data and save the current account user of coaching at that time
    "#ea9e70" # Color when the condition is false and grouped_data.count is less than data[:current_account_users]
  else
    "#63b598" # Color for other cases
  end
}, loading: 'Fetching Data....'  %>

<%= column_chart [
        {
          name: 'Total Coaching Log per week',
          data: total_count_per_week,
          stack: "total per week",
          color: "#63b598"
        },
        {
          name: 'Total Acknowledged Coaching Log per week',
          data: total_acknolwedge_per_week,
          stack: "total acknowledged per week",
          color: "#ce7d78"
        }
        ], stacked: true, loading: 'Fetching Data....'
%>

<%#= column_chart result_data.map { |date, data| [date, data[:value]] }, colors: result_data.map { |date, data| data[:color] } %>

<%#= column_chart result_data.map { |date, data| [date, data[:value]] }, colors: result_data.map { |date, data| data[:value] - @total_acknowledge < @account.users.agent.count ? "#ce7d78" : "#63b598"  } %>



<%# total_count_per_week.each do |date, value | %>
<%# acknowledged_tickets = value %>
  <%# colors = (acknowledged_tickets > @account.users.agent.count ? "#b00" : "#666") %>
<%# end %>


<% unless current_user.agent? %>

  <div class="flex flex-col px-20 md:px-10 md:flex-row items-center justify-center gap-6">
    <div>
      <div class="px-9 pt-10 pb-14 border-2 rounded-lg">
        <span class="text-gray-400">Coaching per user Pie Chart</span>
        <%= pie_chart user_counts = coaching_groups_per_user.transform_values(&:count) %>
      </div>
    </div>
    <div>
      <div class="px-9 pt-10 pb-14 border-2 rounded-lg">
        <span class="text-gray-400">Acknowledgement Pie Chart</span>
        <%= pie_chart result = coaching_groups_per_acknowledgement.transform_keys { |key| acknowledgment_labels[key]}.transform_values(&:count) %>
      </div>
    </div>

    <div>
      <div class="px-9 pt-10 pb-14 border-2 rounded-lg">
        <span class="text-gray-400">Comment & Commitments Pie Chart</span>
        <%= pie_chart result = commitment_per_coachings.transform_keys { |key| commitment_labels[key]}.transform_values(&:count) %>
      </div>
    </div>
  </div>

  <!-- Start Content -->
  <div class="grid grid-cols-1 gap-5 mt-6 sm:grid-cols-2 lg:grid-cols-4">
    <%# 4.times do %>
      <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
        <div class="flex items-start justify-between">
          <div class="flex flex-col space-y-2">
            <span class="text-gray-400">Coaching Total</span>
            <span class="text-lg font-semibold"><%= @coachings.count %></span>
          </div>
          <div class="p-10 bg-gray-200 rounded-md"></div>
        </div>
      </div>
      <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
        <div class="flex items-start justify-between">
          <div class="flex flex-col space-y-2">
            <span class="text-gray-400">Acknowledged Ticket</span>
            <span class="text-lg font-semibold"><%= @coachings.acknowledged_count %></span>
          </div>
          <div class="p-10 bg-gray-200 rounded-md"></div>
        </div>
      </div>
      <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
        <div class="flex items-start justify-between">
          <div class="flex flex-col space-y-2">
            <span class="text-gray-400">Unacknowledged Ticket</span>
            <span class="text-lg font-semibold"><%= @coachings.unacknowledged_count %></span>
          </div>
          <div class="p-10 bg-gray-200 rounded-md"></div>
        </div>
      </div>
    <%# end %>
</div>
<% end %>

<% if @coachings.any? %>
<!-- Table see (https://tailwindui.com/components/application-ui/lists/tables) -->
<h3 class="mt-6 text-lg uppercase">Coaching Logs</h3>

<% unless current_user.agent? %>
<div class="mt-6 md:flex md:items-center md:justify-between">
  <div class="inline-flex overflow-hidden bg-white border divide-x rounded-lg rtl:flex-row-reverse">
    <div class="relative inline-flex" data-controller="filter">
      <select class="text-gray-500 bg-white border border-gray-300 pl-8 text-sm px-9 py-1.5 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-md" name="filter_by" id="filter_by" data-action="filter#update" data-filter-target="select">
        <option value="all" <%= 'selected' if params[:filter] == 'all' %>>All</option>
        <% @account.users.where(role: 'agent').each do |user| %>
          <option value="<%= user.email %>" <%= 'selected' if params[:filter] == user.email%>><%= user.email %></option>
        <% end %>
      </select>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="filters" class="w-4 h-4 absolute pointer-events-none left-2 top-1/2 transform -translate-y-1/2 z-10">
        <path d="M19,2H5A3,3,0,0,0,2,5V6.17a3,3,0,0,0,.25,1.2l0,.06a2.81,2.81,0,0,0,.59.86L9,14.41V21a1,1,0,0,0,.47.85A1,1,0,0,0,10,22a1,1,0,0,0,.45-.11l4-2A1,1,0,0,0,15,19V14.41l6.12-6.12a2.81,2.81,0,0,0,.59-.86l0-.06A3,3,0,0,0,22,6.17V5A3,3,0,0,0,19,2ZM13.29,13.29A1,1,0,0,0,13,14v4.38l-2,1V14a1,1,0,0,0-.29-.71L5.41,8H18.59ZM20,6H4V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z"></path>
      </svg>
    </div>
  </div>
</div>
<% end %>

<%= render "coachings" %>

<% end %>
