<%= provide(:title, "Coachings") %>

<div class="flex flex-col items-start justify-between pb-6 space-y-4 lg:items-center lg:space-y-0 lg:flex-row">
  <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
    <li class="leading-normal text-sm">
      <a class="opacity-50 text-slate-700">Pages</a>
    </li>
    <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">Coaching</li>
  </ol>

  <div class="space-y-6 md:space-x-2 md:space-y-0">
    <%= link_to new_account_coaching_url, class:"inline-flex items-center justify-center px-4 py-1 space-x-1 bg-paleFern text-white rounded-md shadow animate-bounce hover:bg-graphite" do %>
      <span>Add new coaching</span>
    <% end if current_user.manager? %>
  </div>
</div>

<!-- Start Content -->
<div class="grid grid-cols-1 gap-5 mt-6 sm:grid-cols-2 lg:grid-cols-4">
  <%# 4.times do %>
    <!--div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
      <div class="flex items-start justify-between">
        <div class="flex flex-col space-y-2">
          <span class="text-gray-400">Total Users</span>
          <span class="text-lg font-semibold">100,221</span>
        </div>
        <div class="p-10 bg-gray-200 rounded-md"></div>
      </div>
      <div>
        <span class="inline-block px-2 text-sm text-white bg-green-300 rounded">14%</span>
        <span>from 2019</span>
      </div>
    </div-->
  <%# end %>
</div>

<% if @coachings.any? %>
<!-- Table see (https://tailwindui.com/components/application-ui/lists/tables) -->
<h3 class="mt-6 text-lg uppercase">Coaching Logs (<%= @coachings.count %>)</h3>
<div class="flex flex-col mt-6">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden border-b border-gray-200 rounded-md shadow-md">
        <table class="min-w-full overflow-x-scroll divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Coaching Log id
              </th>
              <% unless current_user.agent? %>
                <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                  Coachee name
                </th>
              <% end %>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Coaching Date(s)
              </th>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Status
              </th>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Date acknowledged
              </th>
              <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                Date Created
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% @coachings.each do |coaching| %>
                <%= render 'coaching', coaching: coaching, account: @account %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render "shared/pagy" %>
<% end %>