<%= provide(:title, "Coachings") %>

<div class="flex flex-col items-start justify-between pb-6 space-y-4 lg:items-center lg:space-y-0 lg:flex-row">
  <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
    <li class="leading-normal text-sm">
      <a class="opacity-50 text-slate-700">Pages</a>
    </li>
    <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page"><%= link_to "Coaching", account_coachings_url(@account) %></li>
    <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page"><%= @coaching.coaching_title %></li>
  </ol>

  <div class="space-y-6 md:space-x-2 md:space-y-0">
    <%= link_to edit_account_coaching_url(@account, @coaching), class:"inline-flex items-center justify-center px-4 py-1 space-x-1 bg-gold text-white rounded-md shadow animate-bounce hover:bg-graphite" do %>
        <span>Edit coaching</span>
    <% end if current_user.manager? %>

    <%= link_to acknowledgement_account_coaching_url(@account, @coaching), class:"inline-flex items-center justify-center px-4 py-1 space-x-1 bg-paleFern text-white rounded-md shadow animate-bounce hover:bg-graphite" do %>
        <span>Acknowledgement</span>
    <% end if @coaching.user == current_user && !@coaching.acknowledgement %>
  </div>
</div>

<article>
  <div class="xl:divide-y xl:divide-gray-200">
    <header class="pt-6 xl:pb-6 border-b border-gray-300">
      <div class="space-y-1 text-center">
        <dl class="space-y-10">
          <div>
            <dt class="sr-only">Published on</dt>
            <dd class="text-base font-medium leading-6 text-gray-500"><time datetime="2023-08-05T00:00:00.000Z">Created at  <%= time_tag @coaching.created_at, 'data-local': 'time-ago' %></time></dd>
          </div>
        </dl>
        <div><h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"><%= @coaching.coaching_title %></h1></div>
      </div>
    </header>
    
    <div class="max-w-screen-lg p-6 mx-auto mt-20">
      
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Coaching Information</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Kindly check your email as you have the copy of this coaching log in PDF format.</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Manager</label>
            <p class="border-b py-2 mt-2 text-gray-900 sm:leading-6">
              <%= @coaching&.manager %>
            </p>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Date of Coaching</label>
            <p class="border-b py-2 mt-2 text-gray-900 sm:leading-6">
              <%= @coaching&.date_format %>
            </p>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Coach</label>
            <p class="border-b py-2 mt-2 text-gray-900 sm:leading-6">
              <%= @coaching&.coach %>
            </p>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Coachee</label>
            <p class="border-b py-2 mt-2 text-gray-900 sm:leading-6">
              <%= @coaching&.user.employee_id_and_name %>
            </p>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Account</label>
            <p class="border-b py-2 mt-2 text-gray-900 sm:leading-6 justify-content">
              <%= @coaching&.account.name %>
            </p>
          </div>

          <div class="col-span-full">
            <label for="street-address" class="block text-sm font-bold leading-6 text-gray-900 mb-6">Notes</label>
              <div class="overflow-hidden border-dashed border-2 border-gray-600 md:rounded-lg p-6">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Step</th>

                      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Content</th>

                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <% @coaching.custom_note.each do |custom| %> 
                        <tr>
                          <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                            <div>
                              <h2 class="font-medium text-gray-800 capitalize">
                                <%#= link_to template.name, account_coaching_template_path(template.account, template) %>
                                <%= custom['custom_name']%>
                              </h2>
                            </div>
                          </td>
                          <td class="px-4 py-4 text-sm whitespace-nowrap">
                            <div class="flex items-center">
                              <%= custom['content'] %>
                            </div>
                          </td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>

            <div class="mt-6">
              <%= @coaching.note.content %>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-between items-center mb-6 mt-6">
          <h2 class="text-lg lg:text-2xl font-medium text-gray-900">Commitment/Comments (<%= @coaching.comments.count %>)</h2>
        </div>

        <%= render "comments/form", account: @account, commentable: @coaching %>

        <div class="space-y-12">
          <%= render partial: 'comments/comment', locals: { account: @account, commentable: @coaching } %>
        </div>
      </div>
  </div>
</article>
