<%= provide(:title, "Coachings") %>

<div class="flex flex-col items-start justify-between pb-6 space-y-4 lg:items-center lg:space-y-0 lg:flex-row">
  <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
    <li class="leading-normal text-sm">
      <a class="opacity-50 text-slate-700">Pages</a>
    </li>
    <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page"><%= link_to "Coaching", account_coachings_url(@account) %></li>
    <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page"><%= @coaching.id %></li>
  </ol>

  <div class="space-y-6 md:space-x-2 md:space-y-0">
    <%= link_to edit_account_coaching_url(@account, @coaching), class:"inline-flex items-center justify-center px-4 py-1 space-x-1 bg-gold text-white rounded-md shadow animate-bounce hover:bg-graphite" do %>
        <span>Edit coaching</span>
    <% end if current_user.manager? %>

    <%= link_to acknowledgement_account_coaching_url(@account, @coaching), class:"inline-flex items-center justify-center px-4 py-1 space-x-1 bg-paleFern text-white rounded-md shadow animate-bounce hover:bg-graphite" do %>
        <span>Acknowledgement</span>
    <% end if @coaching.user == current_user && !@coaching.acknowledgement %>
  </div>
</div>

<article>
  <div class="xl:divide-y xl:divide-gray-200">
    <header class="pt-6 xl:pb-6">
      <div class="space-y-1 text-center">
        <dl class="space-y-10">
          <div>
            <dt class="sr-only">Published on</dt>
            <dd class="text-base font-medium leading-6 text-gray-500"><time datetime="2023-08-05T00:00:00.000Z">Created at  <%= time_tag @coaching.created_at, 'data-local': 'time-ago' %></time></dd>
          </div>
        </dl>
        <div><h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">Coaching Log <%= @coaching.id %></h1></div>
        <dl class="space-y-12">
          <div>
            <dt class="sr-only">Coaching Date</dt>
            <dd class="text-base font-medium leading-6 text-gray-500"><time datetime="2023-08-05T00:00:00.000Z">Coaching Date:  <%= formatted_date(@coaching.coaching_start_date, @coaching.coaching_end_date) %></time></dd>
          </div>
        </dl>
      </div>
    </header>
    <div class="grid-rows-[auto_1fr] divide-y divide-gray-200 pb-8 xl:grid xl:grid-cols-4 xl:gap-x-6 xl:divide-y-0">
      <dl class="pb-10 pt-6 xl:border-b xl:border-gray-200 xl:pt-11">
        <dt class="sr-only">Authors</dt>
        <dd>
          <ul class="flex flex-wrap justify-center gap-4 sm:space-x-12 xl:block xl:space-x-0 xl:space-y-8">
            <li class="flex items-center space-x-2">
              <%= image_renderer(@coaching.user.avatar_url, class: "h-10 w-10 rounded-full", style:"color: transparent;") %>
              <dl class="whitespace-nowrap text-sm font-medium leading-5">
                <dd class="text-gray-900"><%= @coaching.user.name %></dd>
                <dd class="text-gray-900">Coachee</dd>
              </dl>
            </li>

            <li class="flex items-center space-x-2">
              <% coach = @account.users.where(role: 'manager').first %>
              <%= image_renderer(coach.avatar_url, class: "h-10 w-10 rounded-full", style:"color: transparent;") %>
              <dl class="whitespace-nowrap text-sm font-medium leading-5">
                <dd class="text-gray-900"><%= coach.name %></dd>
                <dd class="text-gray-900">Coachee</dd>
              </dl>
            </li>

          </ul>
        </dd>
      </dl>
      <div class="divide-y divide-gray-200 xl:col-span-3 xl:row-span-2 xl:pb-0">
        <div class="prose max-w-none pb-8 pt-10">

          <%= @coaching.note.content %>
          
        </div>
        
        <div class="pb-6 pt-6 text-center text-gray-700">
          <!--button>Load Comments</button-->
          <section class="bg-white py-8 lg:py-16 antialiased">
            <div class="max-w-2xl mx-auto px-4">
              <div class="flex justify-between items-center mb-6">
                <% if @coaching.acknowledgement %>
                  <h2 class="text-lg lg:text-2xl font-semibold text-lightFern">You acknowledged this coaching log <%= time_ago_in_words @coaching.date_acknowledged %> ago.</h2>
                <% else %>
                  <h2 class="text-lg lg:text-2xl font-bold text-coral">Please sign this coaching log by acknowledging it.</h2>
                <% end %>
              </div>
              <div class="flex justify-between items-center mb-6">
                <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Commitment/Comments (<%= @coaching.comments.count %>)</h2>
              </div>

              <%= render "comments/form", account: @account, commentable: @coaching %>

              <div class="space-y-12">
                <%= render partial: 'comments/comment', locals: { account: @account, commentable: @coaching } %>
              </div>
            </div>
          </section>

        </div>
      </div>
      <footer>
        <div class="divide-gray-200 text-sm font-medium leading-5 xl:col-start-1 xl:row-start-2 xl:divide-y">
          <div class="py-4 xl:py-8">
            <h2 class="text-xs uppercase tracking-wide text-gray-500">Tags</h2>
            <div class="flex flex-wrap">
              <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600" href="/tags/next-js">next-js</a>
              <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600" href="/tags/tailwind">tailwind</a>
              <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600" href="/tags/guide">guide</a>
              <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600" href="/tags/feature">feature</a>
            </div>
          </div>
          <div class="flex justify-between py-4 xl:block xl:space-y-8 xl:py-8">
            <div>
              <h2 class="text-xs uppercase tracking-wide text-gray-500">Previous Coaching Log</h2>
              <div class="text-primary-500 hover:text-primary-600">
                <%= link_to account_coaching_url(@account, @previous_coaching_log.id) do %>
                  Coaching Log <%= @previous_coaching_log.id %>
                <% end if @previous_coaching_log %>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</article>
