<p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-graphite">Login to Ninjafied</p>
<%= render "devise/shared/links" %>

<div class="w-full flex items-center justify-between py-5">
  <hr class="w-full bg-graphite" />
  <p class="text-base font-medium leading-4 px-2.5 text-graphite">OR</p>
  <hr class="w-full bg-graphite" />
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-6">
    <%= f.label :email, class:"text-sm font-medium leading-none text-gray-800" %><br /> 
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" %>
  </div>

  <div class="mb-6">
    <%= f.label :password, class:"text-sm font-medium leading-none text-gray-800" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation, class:"text-sm font-medium leading-none text-gray-800" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" %>
  </div>

  <div class="mb-6">
    <%= f.submit "Sign up", class:"focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-fern border rounded hover:bg-graphite py-4 w-full" %>
  </div>
<% end %>
