<div class="flex flex-col items-start justify-between pb-6 space-y-4 lg:items-center lg:space-y-0 lg:flex-row">
  <ol class="flex flex-wrap pt-1 mr-12 bg-transparent rounded-lg sm:mr-16">
    <li class="leading-normal text-sm">
      <a class="opacity-50 text-slate-700">Pages</a>
    </li>
    <li class="text-sm pl-2 capitalize leading-normal text-slate-700 before:float-left before:pr-2 before:text-gray-600 before:content-['/']" aria-current="page">Settings</li>
  </ol>
</div>

<div class="container mx-auto p-12">
  <h1 class="text-lg font-bold text-graphite">Settings</h1>
  <span class="text-stone text-sm">This is where you can customize account settings.</span>
  <ul class="list-decimal py-12 px-12 space-y-2">
    <li>Coaching Templates</li>
    <li>QA Templates</li>
    <li>Account Information</li>
    <li>Team Members</li>
  </ul>
</div>

<!-- component -->
  <% if ( current_user.manager? && @account.users.include?(current_user) ) || current_user.admin? %>
  <div class="container mx-auto bg-white py-24 px-12 rounded-xl shadow-md">
  <%= form_with(model: @user, url: invite_account_path(@account), method: :post) do |form| %>
    <div class="flex flex-col items-center w-full">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 h-16 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
      </svg>
      <span class="text-xl text-gray-800">Assemble Teams</span>
      <span class="text-gray-600">You haven't added any team members to your squad yet.</span>
      <div class="flex flex-row w-full mt-4">
        <%= form.text_field :email, name: 'user[email]', placeholder: 'Enter user email', class: 'rounded-md flex-grow border border-gray-400 focus:border-red-400' %>
        <%= form.submit 'Send Invitation', class: 'ml-4 px-4 rounded-black border-black border rounded-md bg-red-400 text-white border-0 hover:bg-red-600 transition-all ease-in-out' %>
      </div>
      <span class="text-sm text-gray-600 mt-4 w-full align-left tracking-wider">TEAM MEMBERS (<%= @account.users.count %>)</span>
      <div class="grid grid-cols-2 mt-4 w-full gap-4">
      <% end %>
      <% @account.users.each do |user| %>
        <div class="flex flex-row rounded-full w-full border border-black p-2 gap-4 items-center">
          <div class="flex-shrink w-12 h-12 bg-black rounded-full">
            <%= image_renderer(user.avatar_url) %>
          </div>
          <div class="flex-grow flex flex-col">
            <span class="text-lg text-gray-800"><%= user.name %></span>
            <span class="text-base text-gray-600"><%= user.title %> </span>
            <span class="text-base text-gray-400"><%= user.email %> </span>
          </div>
          <div class="flex-shrink w-12 h-12 flex justify-center items-center">
            <% if current_user != user %>
              <%= button_to remove_account_path(@account, email: user.email), method: :delete, class: "flex items-center space-x-2", disabled: !(current_user.manager? || current_user.admin?) do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>