<div id="<%= dom_id(template) %> ">
  <tr>
    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
      <div>
        <h2 class="font-medium text-gray-800 capitalize">
          <%= link_to template.name, account_qa_template_path(template.account, template) %>
        </h2>
      </div>
    </td>
    <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
      <ul>
        <% template.metrics.each do |metric| %>
        <li><%= metric['metric_name'] %> : <%= metric['deduction'] %></li>
      <% end %>
      </ul>
    </td>
    <td class="px-4 py-4 text-sm whitespace-nowrap">
      <div class="flex items-center">
        <%= template_status(template) %>
      </div>
    </td>
  </tr>
</div>
