<div id="<%= dom_id(template) %> ">
  <tr>
    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
      <div>
        <h2 class="font-medium text-gray-800 capitalize">
          <%= template.name %>
        </h2>
      </div>
    </td>
    <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
      <ul>
      <% if template.metrics.any? %>
        <% template.metrics.each do |metric| %>
          <li><%= metric['metric_name'] %> : <%= metric['deduction'] %></li>
        <% end %>
      <% else %>
        <li>No metrics</li>
      <% end %>
      </ul>
    </td>
    <td class="px-4 py-4 text-sm whitespace-nowrap">
      <div class="flex items-center">
        <%= template_status(template) %>
        <%= link_to 'Destroy', account_qa_template_path(@account, template), data: { turbo_method: :delete } if current_user.admin? %>
      </div>
    </td>

    <td class="px-4 py-4 text-sm whitespace-nowrap">
      <div class="flex items-center">
        <%= time_tag template.created_at, "data-local": "time-ago" %>
      </div>
    </td>

    <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
      <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
        <div class="flex space-x-4">
          <%= link_to edit_account_qa_template_path(@account, template), class: "text-orange-600 hover:text-orange-500" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
            </svg>
            <p>Edit</p>
          <% end%>
      </td>
    </td>
  </tr>
</div>
