<%= form_with(model: [account, ticket], local: true, data: { 
  controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form|  %>
  <%= render 'shared/error_messages', object: form.object %>

  <div>
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.label :assignee %>
    <%= form.collection_select :assignee, @account.users.where(role: 'agent'), 
                              :name, :name, prompt: 'Select Assignee' %>
  </div>

  <%= form.hidden_field :account_id, value: @account.id %>

  <template data-nested-form-target="template">
    <%= form.fields_for :ticket_details, TicketDetail.new, child_index: 'NEW_RECORD' do |detail_fields| %>
      <%= render "tickets/ticket_detail", f: detail_fields %>
    <% end %>
  </template>

  <%= form.fields_for :ticket_details do |detail_fields| %>
    <%= render "tickets/ticket_detail", f: detail_fields %>
  <% end %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Add Content</button>
  <div>
    <%= form.submit %>
  </div>
<% end %>