<tr>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <p class="text-gray-900 whitespace-no-wrap"><%= ticket.id %></p>
  </td>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <p class="text-paleFern whitespace-no-wrap hover:text-graphite hover:underline font-bold">
      <%= link_to account_ticket_path(account, ticket) do %>
        <%= extract_url(ticket.link) %>
      <% end %>
    </p>
  </td>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <div class="flex items-center">
      <div class="flex-shrink-0 w-10 h-10">
        <%= image_renderer(ticket.user.avatar_url, class: "w-full h-full rounded-full") %>
      </div>
      <div class="ml-3">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= ticket.user.name %>
        </p>
      </div>
    </div>
  </td>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <div class="flex items-center">
      <div class="flex-shrink-0 w-10 h-10">
        <%#= image_renderer(User.find_by(name: ticket.assignee).avatar_url, class: "w-full h-full rounded-full") %>
      </div>
      <div class="ml-3">
        <p class="text-gray-900 whitespace-no-wrap">
          <%= User.find_by(email: ticket.modified_by)&.email %>
        </p>
      </div>
    </div>
  </td>
  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
    <p class="text-gray-900 whitespace-no-wrap">
      <%= time_tag ticket.created_at, "data-local": "time-ago" %>
    </p>
  </td>
</tr>