<section class="max-w-screen-lg p-6 mx-auto mt-20">
  <h1 class="text-xl font-bold text-gray-600 capitalize mb-6"><%= coaching_template.new_record? ? "New" : "Edit"%> Coaching Template</h1>
<%= form_with(model: [account, coaching_template], local: true, id: "#{dom_id(coaching_template)}_form", data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="mb-6">
    <label class="text-gray-600">Account</label>
    <%= form.text_field :name, class:"w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none
    focus:border-[#6A64F1] focus:shadow-md" %>
  </div>

  <div class="mb-6">
    <template data-nested-form-target="template">
      <%= form.fields_for :customs, child_index: 'NEW_RECORD' do |metric| %> 
        <%= render "customize_form" %> 
      <% end %>
    </template>
  </div>

  <%#= form.fields_for :metrics do |metric| %> 
    <%#= render "metric_form", f: metric, metric_data: @template.metrics.shift %>   
  <%# end %>

  <!-- Inserted elements will be injected before that target. -->
  <div class="mb-6">
    <div data-nested-form-target="target"></div>
  </div>

  <div class="mb-6">
    <button type="button" data-action="nested-form#add">Add Custom</button>
  </div>

  <div class="mb-6">
  <%= form.fields_for(:note, @note) do |note_form| %>
    <label class="text-gray-600">Note</label>
    <div class="trix-editor" data-trix-target="content" contenteditable="false">
    <%= note_form.rich_text_area :content %>
  <% end %>
  </div>

  <div class="mb-6 mt-6">
    <%= form.check_box :published, class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500' %>
    <label for="checkbox" class="ml-2 text-sm font-medium text-gray-800">Publised</label>
  </div>

  <div class="mt-12">
    <%= form.submit class:"hover:shadow-form cursor-pointer rounded-md bg-paleFern hover:bg-graphite py-3 px-8 text-base font-semibold text-white outline-none" %>
  </div>
  
<% end %>
</section>