<% if current_user %>

<div data-controller="dropdown" class="relative">

<div class="flex items-center">
    <div x-data="{ notificationOpen: false }" class="relative">
        <button data-action="dropdown#toggle click@window->dropdown#hide" aria-label="notification" class="w-10 h-10 rounded-xl border bg-gray-100 focus:bg-gray-100 active:bg-gray-200">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 m-auto text-gray-600" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
          </svg>

            <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2">
              <%= @unread.count >= 9 ? "9+" : @unread.count %>
            </div>
        </button>

        <div x-show="notificationOpen" @click="notificationOpen = false" class="fixed inset-0 z-10 w-full h-full" style="display: none;"></div>

        <div x-show="notificationOpen" class="absolute right-0 z-10 mt-2 overflow-hidden bg-white rounded-lg shadow-xl w-80 hidden" data-dropdown-target="menu">
        <ul class="h-80 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
        <% @unread.each do |notification| %>
          <li>
            <%= link_to notification.to_notification.url, class: "flex items-center px-4 py-3 -mx-2 text-gray-600 hover:text-white hover:bg-paleFern" do %>
                <p class="mx-2 text-sm">
                    <span class="font-bold" href="#"><%= notification.to_notification.message %>
                    <br/>
                    <span class="text-xs text-graphite"><%= time_ago_in_words notification.created_at %> ago</span>
                </p>
            <% end %>
          </li>
        <% end %>

        <% if @read.count > 0 && @unread.count > 0%>
          <li class="flex items-center p-3 text-sm font-medium text-red-600 border-b border-gray-300 hover:underline"></li>
        <% elsif %>
          <li class="flex items-center p-3 text-sm font-medium text-red-600 border-b border-gray-300 hover:underline">No new notifications yet.</li>
        <% end %>

        <% @read.each do |notification| %>
          <li>
            <%= link_to notification.to_notification.url, class: "flex items-center px-4 py-3 -mx-2 text-gray-600 hover:text-white hover:bg-paleFern" do %>
                <p class="mx-2 text-sm">
                    <span class="font-bold" href="#"><%= notification.to_notification.message %>
                    <br/>
                    <span class="text-xs text-graphite"><%= time_ago_in_words notification.created_at %> ago</span>
                </p>
            <% end %>
          </li>
        <% end %>
        </ul>
        </div>
    </div>
</div>

<% end %>