<aside class="ml-[-100%] fixed z-10 top-0 pb-3 px-6 w-full flex flex-col justify-between h-screen border-r bg-white transition duration-300 md:w-4/12 lg:ml-0 lg:w-[25%] xl:w-[20%] 2xl:w-[15%]">
  <div>
    <div class="-mx-6 px-6 py-4">
      <%= link_to 'Ninjafied', root_path, class: "text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mt-8 text-center">
      <%= image_renderer(current_user.avatar_url, class: "w-10 h-10 m-auto rounded-full object-cover lg:w-28 lg:h-28") %>
      <h5 class="hidden mt-4 text-xl font-semibold text-gray-600 lg:block"><%= current_user.name %></h5>
      <span class="hidden text-gray-400 lg:block capitalize"><%= user_title_or_role(current_user) %></span>
    </div>

    <ul class="space-y-2 tracking-wide mt-8">
      <li>
        <%= link_to account_tickets_path, class:"px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path class="fill-current text-graphite group-hover:text-paleFern" fill-rule="evenodd" d="M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z" clip-rule="evenodd" />
            <path class="fill-current text-graphite group-hover:text-paleFern" d="M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z" />
          </svg>
          <span class="group-hover:text-gray-700">Tickets</span>
        <% end %>
      </li>
      <li>
        <%= link_to account_coachings_path, class:"px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path class="fill-current text-graphite group-hover:text-paleFern" fill-rule="evenodd" d="M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z" clip-rule="evenodd" />
            <path class="fill-current text-graphite group-hover:text-paleFern" d="M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z" />
          </svg>
          <span class="group-hover:text-gray-700">Coachings</span>
        <% end %>
      </li>
    </ul>
  </div>
  <%= render 'layouts/notifications' %>

  <div class="px-6 -mx-6 pt-4 flex justify-between items-center border-t">
    <%= button_to destroy_user_session_path,  method: :delete, data: { turbo: 'false' }, class:"px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
      <span class="group-hover:text-gray-700">Logout</span>
    <% end %>
  </div>
</aside>