<div id="<%= dom_id(account) %> ">
  <tr>
    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
      <div>
        <h2 class="font-medium text-gray-800 capitalize">
          <%= link_to account.name, account_path(account) %>
        </h2>
      </div>
    </td>
    <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
      <%= site_with_color(account) %>
    </td>
    <td class="px-4 py-4 text-sm whitespace-nowrap">
      <div class="flex items-center">
        <% account.users.limit(5).each do |user| %> 
          <%= image_renderer(user.avatar_url, class: 'object-cover w-6 h-6 -mx-1 border-2 border-white rounded-full shrink-0') %> 
        <% end %> 
        <% if account.users.count > 5 %>
          <p class="flex items-center justify-center w-6 h-6 -mx-1 text-xs text-blue-600 bg-blue-100 border-2 border-white rounded-full"><%= account.users.count - 3%></p>
        <% end %>
      </div>
    </td>
    <td class="px-4 py-4 text-sm whitespace-nowrap">
      <div class="w-48 h-1.5 bg-blue-200 overflow-hidden rounded-full">
        <div class="bg-blue-500 w-2/3 h-1.5"></div>
      </div>
    </td>
  </tr>
</div>
