<%= form_with(model: account) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class='mb-6'>
    <%= form.label :name, class: 'block mb-2 text-sm font-medium text-gray-900' %>
    <%= form.text_field :name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
  </div>

  <div class='mb-6'>
    <%= form.label :description, class: 'block mb-2 text-sm font-medium text-gray-900' %>
    <%= form.text_field :description, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
  </div>

  <%= form.submit class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center' %>
<% end %>